<% provide(:title,"About") %>
<h1>WINEs について</h1>
<p>
  このアプリは飲んだことのあるワインを蓄積していけるものです。
</p>
<p>
  あのワイン前飲んだことあるけどどんな味だっけ？
  そうならないためにこのアプリを使用してください
</p>
<p>
  また他のユーザーが投稿したワインを知ることができます。
  次の購入の参考にしてはいかがですか？
</p>
<p>
  開発者　@ratovia
</p>
<p>
  railsの勉強として開発
</p>
